DEBUG=true
LISTEN_PORT=7667
LISTEN_HOST=0.0.0.0
IRC_PORT=6667
IRC_HOST=irc.my.irc.tld
IRC_USE_SSL=false
# Leave empty to accept all origins
ALLOW_ORIGIN="https://siteurl.com"
# Will block if the same ip is trying to stablish multiple connections
MAX_PER_IP=2
# Leave empty if not https
SSL_KEY=
SSL_CERT=
